.homepage{
    display: flex;
    background-color: #1c3b23;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}
.mainTitle{
    // position: absolute;
    top:2%;
    font-size: 50px;
    font-weight: 700;
    color: white;
    span{
        font-weight: bold;
        color: #3df871;
    }
}
.logo{
    
}
.mainLogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.input-form{

}
.userId{
    height: 50px;
}
.userId,.password{
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding:5px  10px;
    width: 450px;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: .5px .5px 2px .3px rgb(117, 117, 117);


}
.userId{

    background: transparent;
    border: 2px solid white;

    height: 4rem;
    .user-icon{
        margin-right: 3%;
    }
}
.password{

    background: transparent;
    border: 2px solid white;
    .pass-icon{
        margin-right: 3%;
    }
}
.user-logo{
    width: 30px;
    height: 30px;
    margin: 5px 15px 5px 3px;
}
.pass-logo{
    width:30px;
    height:30px;
    margin: 5px 15px 5px 3px;
}
// .admin{
//     position: absolute;
//     top:43%;
// }
// .password{
//     height: 50px;
// }
// .password-inp{
//     position: absolute;
//     top:58%;
// }
.admin,.password-inp{
    font-size: 1rem;
    color: white;     
}
.user-inp,.pass-inp {

    display: flex;
    flex-direction: column;
   
    input{
        background: transparent;
        color: white;
        width: 24rem;
        height: 2rem;
        border: none;
        outline:none;
        font-size: 16px;
    }
}
.login-btn{
    width: 20rem;
    font-weight: 700;
    background: #72d98f;
    font-family: 'Ubuntu',sans-serif;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s;

    &:hover{

        color: #72d98f;
        border-color: 2px solid white;
        background: transparent;
        letter-spacing: 2px;
        font-weight: 500;


    }
}

